./src/main/resources/app.properties
/src/main/resources/app.properties
/target/**/*
/target/
/target/classes/
/target/generated-sources/
/target/generated-sources/annotations
/target/Group_B_p2_API-1.0-SNAPSHOT/
/target/maven-archiver/
/target/maven-status/
/target/Group_B_p2_API-1.0-SNAPSHOT.jar
